.user-profile-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: .5rem;
  align-items: center;
}
.user-details-display-container {
  width: 100%;
}